[submodule "sdmx-sax-parser"]
	path = sdmx-sax-parser
	url = https://github.com/kalessine/sdmx-sax-parser.git
[submodule "sdmx-gateway"]
	path = sdmx-gateway
	url = https://github.com/kalessine/sdmx-gateway.git
[submodule "sdmx-sdmx20-xmlbeans"]
	path = sdmx-sdmx20-xmlbeans
	url = https://github.com/kalessine/sdmx-sdmx20-xmlbeans.git
[submodule "sdmx-sdmx21-xmlbeans"]
	path = sdmx-sdmx21-xmlbeans
	url = https://github.com/kalessine/sdmx-sdmx21-xmlbeans.git
